  <div class="chat_header">
    <label class="room_name">部屋の名前</label>
    <a href="" class="end_btn">チャットを終了する</a>
  </div>
  <div class="messages">
    <!-- 一つのMESSAGE -->
    <div class="chat_div">
      <div class="name">Tom</div>
      <div class="date">2021/05/10</div>
      <div class="message">おはよう</div>
    </div>

  </div>
  <div class="form">
    <div class="text_box">
      <input type="text" placeholder="type a message" class="new_message">
      <input type="button" value="画像" class="btn_pic_add">
    </div>
    <input type="submit" value="送信">

  </div>

